@font-face {
  font-family: 'poppins_bold';
  src: url('~src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'poppins_light';
  src: url('~src/assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'poppins_medium';
  src: url('~src/assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'poppins_regular';
  src: url('~src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
