<section>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1 class="judul">Daftar Pegawai</h1>
        <hr class="mb-4 garis" />
        <div class="d-flex justify-content-between mb-3 mt-3 top-list">
          <button class="btn btn-primary ms-1 add" routerLink="form">
            Add employee
          </button>
          <form [formGroup]="searchForm" class="d-flex" (ngSubmit)="cari()">
            <div class="input-group">
              <input
                #empSearchInput
                class="form-control search"
                type="text"
                nama="search"
                placeholder="Search"
                aria-label="Search"
                [(ngModel)]="searchInput.username"
                formControlName="name"
                (click)="show = true"
                autocomplete="off"
                list="datalistOptions"
              />
              <button class="btn btn-search input-group-text">
                <i class="bi bi-search"></i>
              </button>
              <datalist id="datalistOptions" class="test">
                <option
                  *ngFor="let sr of search"
                  value="{{ sr.name }}"
                ></option>
              </datalist>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th
                  *ngFor="let ls of headList"
                  (click)="sort(ls.sort)"
                  style="cursor: pointer"
                  scope="col"
                >
                  {{ ls.name }}
                  <i
                    *ngIf="!isDescOrder; else asc"
                    class="bi bi-sort-alpha-down"
                  ></i>
                  <ng-template #asc>
                    <i class="bi bi-sort-alpha-up"></i>
                  </ng-template>
                </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let emp of employees
                    | orderBy : orderHeader : isDescOrder
                    | filterBy : searchInput
                    | paginate
                      : {
                          itemsPerPage: tableSize,
                          currentPage: page,
                          totalItems: count
                        };
                  let i = index
                "
              >
                <td>{{ (page - 1) * tableSize + i + 1 }}</td>
                <td>{{ emp.username }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.status }}</td>
                <td>{{ emp.group }}</td>
                <td>
                  {{ emp.birthDate | date : "yyyy MMMM dd" }}
                </td>
                <td>
                  <button class="btn btn-link btn-sm">
                    <i
                      class="bi bi-eye"
                      style="font-size: 1.2rem"
                      routerLink="/pages/detail/{{ emp.id }}"
                    ></i>
                  </button>
                  <button class="btn btn btn-sm edit">
                    <i
                      class="bi bi-pencil-square"
                      style="font-size: 1.2rem"
                      routerLink="/pages/form/{{ emp.id }}"
                    ></i>
                  </button>
                  <button class="btn btn btn-sm me-1">
                    <i
                      class="bi bi-trash del"
                      style="font-size: 1.2rem"
                      (click)="delete(emp.id)"
                    ></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <h1
            class="no"
            *ngIf="(employees | filterBy : searchInput).length === 0"
          >
            Data Tidak Ada
          </h1>
        </div>
        <div class="d-flex justify-content-between mb-3 mt-3 top-list">
          <div class="row">
            <div class="col-auto">
              <label class="col-form-label">show</label>
            </div>
            <div class="col-auto">
              <select
                class="form-select sort"
                (change)="onTableSizeChange($event)"
              >
                <option *ngFor="let size of tableSizes">
                  {{ size }}
                </option>
              </select>
            </div>
            <div class="col-auto">
              <label class="col-form-label"
                >Entires of {{ employees.length }} Datas</label
              >
            </div>
          </div>
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
            (pageBoundsCorrection)="onTableDataChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
