@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.main {
  font-family: "Poppins", sans-serif;
}
.card {
  border-radius: 20px;
  box-shadow: 4px 4px 15px #2749de;
  width: 90%;
  padding-top: 70px;
  padding-bottom: 44px;
  margin-top: 70px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.card-title h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.btn-login {
  margin-top: 20px;
  width: 100%;
}

.btn-login-footer {
  text-align: center;
  color: gray;
}

.btn-login-footer a {
  text-decoration: none;
}
.login-form {
  display: grid;
  gap: 16px;
  place-items: center;
  width: 100%;
  margin: 0;
}
.text {
  width: 100%;
  position: relative;
}

.login-form input {
  width: 100%;
  outline: none;
  height: 60px;
  padding: 0;
  font-size: 16px;
  border-radius: 8px;
}
.login-form input {
  background: transparent;
  border: 1px solid #157;
  font-size: 14px;

  padding: 10px 10px 0 20px;
  color: inherit;
}
.login-form input:focus {
  border-color: #157;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

h3 {
  font-weight: 600;
  color: #2749de;
  font-size: 28px;
}
@media (max-width: 576px) {
  .card {
    width: 350px;
    margin-inline: auto;
  }
  .img {
    margin-inline: auto;
  }
}
