<section id="login" class="bg">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="login-form"
        >
          <div class="icon"></div>
          <div class="title">
            <h3>Login</h3>
          </div>
          <div class="form-floating text">
            <input
              type="email"
              id="floatingEmail"
              class="form-control {{ isFormValid('email') }}"
              placeholder="Email"
              formControlName="email"
            />
            <app-validation-message
              [control]="loginForm.get('email')"
              [field]="'email'"
            ></app-validation-message>
            <label for="floatingEmail">Email</label>
          </div>
          <div class="form-floating text">
            <input
              type="password"
              id="floatingPassword"
              class="form-control {{ isFormValid('password') }}"
              placeholder="Password"
              formControlName="password"
            />
            <app-validation-message
              [control]="loginForm.get('password')"
              [field]="'password'"
            ></app-validation-message>
            <label for="floatingPassword">Password</label>

            <!-- <div class="mb-3 mt-2 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label for="floatingPassword">Password</label>
                </div> -->
          </div>
          <div class="d-grid gap-2 btn-login">
            <button class="btn btn-outline-primary" type="submit">LOGIN</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
